nav{
	width: 100%; 
	background: #468; 
	position: fixed; 
	z-index: 999;
}

.nav ul {
    list-style-type: none;
    padding: 0;
	text-align:center;
}
.nav li {
	display: inline;
}
.nav ul a {
    text-decoration: none;
	display: inline;
	color: white;
}

input[type=submit]{
	margin:10px 0 10px 0;
	outline:0;
	background:#2ecc71;
	color:#fff;
	border:0;
	padding:10px;
	cursor:pointer
}

a{
	text-decoration:none
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

.isimain{
	padding:70px 30px 30px 30px;
}

input[type=text],select,textarea{
	width:400px;
	margin:10px 0 10px 0;
	padding:10px;
	resize:none
}