nav{
	width: 100%; 
	background: #468; 
	position: fixed; 
	z-index: 999;
}

.nav ul {
    list-style-type: none;
    padding: 0;
	text-align:center;
}
.nav li {
	display: inline;
}
.nav ul a {
    text-decoration: none;
	display: inline;
	color: white;
}

input[type=submit]{
	margin:10px 0 10px 0;
	outline:0;
	background:#2ecc71;
	color:#fff;
	border:0;
	padding:10px;
	cursor:pointer
}

a{
	text-decoration:none
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

.btn
{
	display:inline-block;
	height:36px;
	margin-bottom:15px;
	padding:0 2rem;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	background-clip:padding-box;
	line-height:36px;
	text-transform:uppercase;
	border:none;
	outline:0;
	-webkit-tap-highlight-color:transparent
}